.bg-green{
  background-color: #4CAF50 !important;
}

.table>:not(caption)>*>* {
  background-color: transparent;
}

.smallfont{
  font-size: 0.8em;
}

th{
  background-color: black;
}

thead{
  background-color: #888484;
}